body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  font-weight: 300; 
}

.container {
  margin: 0 auto;
  max-width: 1107px;
  width: 100%;
}

.header {
  background: #012D63;
  padding-left: 168px;
  padding-right: 165px;
  width: 100%;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -50px;
}
.header-logo {
  margin-left: 10px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 29px;
}

.nav-link {
  color: #C7C7C7;
  font-size: 22px;
  font-weight: 300;
}

.nav-link:hover {
  color: #FFFFFF;
}

.language:hover {
  color: #FFFFFF;
}

.language {
  color: #DCDCDC;
  font-size: 22px;
  font-weight: 300;
}

.hero {
  background-image: url(./img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 859px;
}

.hero-c-r {
  color: #FFF;
  font-family: "PT Serif";
  font-size: 46px;
  font-weight: 300;
   margin-left: 35px;
}

.hero-title {
  color: #FFF;
  font-family: "Playfair Display";
  font-size: 140px;
  font-weight: 300;
}

.hero-subtitle {
  color: #FFF;
  font-family: "Playfair Display";
  font-size: 68px;
  font-weight: 300;
}

.hero-text {
  color: #FFF;
  font-size: 17px;
  font-weight: 300;
}

.hero-btn {
  color: #FFF;
  font-size: 22px;
  font-weight: 300;
  border-radius: 10px;
  background: #8E32C6;
  width: 254px;
  height: 67px;
  margin-top: 41px;
}

.logo {
  width: 180px;
  height: 120px;
  margin-top: 91px;
  margin-left: 15px
}

.hero-flex {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.features {
  background-image: url(./img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 75px 0;
}

.features-list {
  display: flex;
  padding: 0;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  border: 5px solid #8E32C6;
  padding: 15px 0;
}

.features-container {
  border: 5px solid #8E32C6;
  display: flex;
  gap: 145px;
  padding: 25px 0;
}

.features-title {
  color: #FFF;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 34px;
  font-weight: 300;
}

.features-one {
  border-right: 5px solid #FFFFFF;
  width: 300px;
  margin-left: 30px;
}

.features-three {
  border-left: 5px solid #FFFFFF;
  width: 300px;
}

.reviews {
  background: url(./img/flowers.png) no-repeat left bottom, url(./img/reviews-bg.jpg) no-repeat center;
  background-size: contain, cover;
  width: 100%;
  height: 520px;
}

.reviews-container-2 {
  display: flex;
  gap: 10px;
}

.one, .two, .three {
  border-radius: 15px;
  padding: 49px 14px 29px 13px;
}

.one {
  background: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
  box-shadow: 0 14px 0 -5px #7B54B2, 0 30px 0 -13px #533978;
}

.two {
  background: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
  box-shadow: 0 14px 0 -5px #9159B1, 0 30px 0 -13px #61337C;
}

.three {
  background: linear-gradient(143deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
  box-shadow: 0 14px 0 -5px #B95A4C, 0 30px 0 -13px #732F26;
}

.reviews-list {
  display: flex;
  justify-content: center;
  gap: 93px;
}

.reviews-item {
  width: 255px;
  height: 292px;
}

.reviews-title {
  color: #FFF;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 46px;
  font-weight: 300;
  margin-bottom: 24px;
}

.reviews-subtitle {
  color: #FFF;
  font-size: 22px;
  font-weight: 300;
}

.date {
  color: #D8D8D8;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 47px;
}

.name {
  color: #FFF;
  font-size: 14px;
  font-weight: 300;
  margin-left: 5px;
}

.reviews-text {
  color: #FFF;
  font-size: 14px;
  font-weight: 300;
  margin-left: 5px;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order {
  background-image: url(./img/order-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}

.order-title {
  color: #FFF;
  font-family: "Playfair Display";
  font-size: 46px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 33px;
}

.order-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
}

.order-input {
  color: #959595;
  font-size: 26px;
  font-weight: 300;
  border-radius: 50px;
  background: #FFF;
  width: 585px;
  height: 60px;
  padding-left: 24px;
}

.order-input-one {
  width: 690px;
  height: 60px;
}

.order-btn {
  color: #FFF;
  font-size: 22px;
  font-weight: 300;
  border-radius: 16px;
  background: #8E32C6;
  width: 248px;
  height: 68px;
  margin-top: 19px;
  margin-bottom: 16px;
  display: block;
  margin: auto;
}

.footer {
  background-color: #021635;
  width: 100%;
}

.footer-text {
  color: #FFF;
  font-size: 22px;
  font-weight: 300;
}

.footer-link-list, .footer-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-link {
  color: #FFF;
  font-size: 22px;
  font-weight: 300;
  text-decoration: underline;
}

.footer-adress, .footer-country {
  color: #FFF;
  font-size: 18px;
  font-weight: 300;
}

.footer-container {
  display: flex;
  gap: 373px;
  padding: 15px 0;
  align-items: center;
}

.footer-c-r {
  color: #FFF;
  font-family: "PT Serif";
  font-size: 22px;
  font-weight: 300;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.footer-logo {
  width: 140px;
  height: 100px;
}

.footer-adress-container {
  display: flex;
  justify-content: space-between;
}

.footer-email-container {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
